@model IEnumerable<Disco2.Models.Жанры>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Создать", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Название)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Название)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Композиции.Название)
        </td>*@
        <td>
     

        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id = item.ID_жанра }) |
            @Html.ActionLink("Детали", "Details", new { id = item.ID_жанра }) |
            @Html.ActionLink("Удалить", "Delete", new { id = item.ID_жанра })
        </td>
    </tr>
    }
    
    </table>
</body>
</html>
